.logo.text {
	font-family: 'Ubuntu';
}
.ui.primary.menu .item {
	color: white;
	font-size: 15px;
}
body {
	background: #f5f5f5;
	font-family: 'Alegrya'
}
.ui.primary.menu {
	background: #356e9a;
}
.ui.content {
	padding: 8em 1em 0em 1em;
}